<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Is It A Bird Photo?</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <meta property="og:site_name" content="Is It A Bird Photo?" />
    <meta property="og:title" content="Is It A Bird Photo?" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Upload your photo to check whether the photo is of a bird." />
    <meta property="og:image" content="/img/xkcd-1425" />
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <h1 class="title">Is it a bird photo?</h1>
                    <p class="subtitle">Upload your photo to check whether the photo is of a bird.</p>
                    <p class="subtitle">Inspired by <a target="_blank" href="https://xkcd.com/1425/">https://xkcd.com/1425/</a></a></p>
            </div>
        </div>
    </section>
    <!-- <img src="img/xkcd-1425.png"> -->
    <section class="section">
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <article class="message is-danger">
                    <div class="message-header">
                        <p>Error</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                        <div class="message-body">
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </article>
                {% endif %}
            {% endwith %}
            <form method="post" enctype="multipart/form-data" action="/">
                <div class="field">
                    <label class="label">Upload your photo</label>
                    <div class="control">
                        <input class="input" name="file" type="file" placeholder="Your photo">
                        <p>*.jpg|*.png</p>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-link">Upload</button>
                </div>
            </form>
        </div>
    </section>

    <section class="section">
        <div class="container">

            {%if is_a_bird == True %}
            <article class="message is-link">
                <div class="message-header">
                    <p>Result</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <img src="/uploads/{{ filename }}">
                    <h1 class="title is-2 is-success">It is a bird photo</h1>
                </div>
            </article>
            {% elif is_a_bird == False %}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Result</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <img src="/uploads/{{ filename }}" height="240" width="240">
                    <h1 class="title is-2 is-danger">It is not a bird photo</h1>
                </div>
            </article>
            {% endif %}


            {%if display_results %}
                <h1 class="title is-3 is-success">Top possibilities:</h1>
                <table class="table is-bordered is-fullwidth">
                    {% for line in display_results %}
                       <tr>
                            <td>{{ line[0] }}</td>
                            <td>{{ line[1] }}</td>
                       </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </section>

    <footer class="footer is-info">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Created by
                    <a target="_blank" href="https://github.com/hungneox">Hung Neo</a> 2017 using Tensorflow and Flask
                </p>
            </div>
        </div>
    </footer>
</body>
</html>